* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
li {
  list-style: none;
}
.main {
  width: 1280px;
  margin: 0 auto;
}
.grid-container {
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
.im > img {
  width: 100%;
  height: 100%;
}
.track-list {
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  grid-auto-columns: 55px;
  grid-auto-rows: 65px;
}
.track {
  display: grid;
  gap: 3px;
}
.track.short > .button {
  padding-top: 5px;
}
.track > .button {
  text-align: center;
  user-select: none;
  padding-top: 10px;
  border-image-slice: 1 !important;
}
.track > .difficulty {
  width: 50%;
  height: 7px;
  margin-top: 1px;
}
.white.track-list > .track > .button {
  background: #949494;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #b7b7b7 0%, #8d8d8d 100%);
}
.white.track-list > .track > .button:hover {
  border-image-source: linear-gradient(143.23deg, #8d8d8d 0%, #b7b7b7 100%);
}
.white.track-list > .track > .button:active {
  background: #747474;
  border-image-source: linear-gradient(143.23deg, #8d8d8d 0%, #b7b7b7 100%);
}
.green.track-list > .track > .button {
  background: #679D2D;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #89C648 0%, #598E21 100%);
}
.green.track-list > .track > .button:hover {
  border-image-source: linear-gradient(143.23deg, #598E21 0%, #89C648 100%);
}
.green.track-list > .track > .button:active {
  background: #548323;
  border-image-source: linear-gradient(143.23deg, #598E21 0%, #89C648 100%);
}
.blue.track-list > .track > .button {
  background: #428BAC;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #5BA4C6 0%, #307899 100%);
}
.blue.track-list > .track > .button:hover {
  border-image-source: linear-gradient(143.23deg, #307899 0%, #5BA4C6 100%);
}
.blue.track-list > .track > .button:active {
  background: #31718E;
  border-image-source: linear-gradient(143.23deg, #307899 0%, #5BA4C6 100%);
}
.red.track-list > .track > .button {
  background: #FF311B;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #FF5947 0%, #D61F0C 100%);
}
.red.track-list > .track > .button:hover {
  border-image-source: linear-gradient(143.23deg, #D61F0C 0%, #FF5947 100%);
}
.red.track-list > .track > .button:active {
  background: #C52818;
  border-image-source: linear-gradient(143.23deg, #D61F0C 0%, #FF5947 100%);
}
.black.track-list > .track > .button {
  background: #202020;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #3C3C3C 0%, #101010 100%);
}
.black.track-list > .track > .button:hover {
  border-image-source: linear-gradient(143.23deg, #101010 0%, #3C3C3C 100%);
}
.black.track-list > .track > .button:active {
  background: #0F0F0F;
  border-image-source: linear-gradient(143.23deg, #101010 0%, #3C3C3C 100%);
}
.tiers {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.tiers .tier-button {
  cursor: pointer;
  width: 250px;
  height: 30px;
  display: grid;
  place-content: center;
  border-image-slice: 1 !important;
  background: #949494;
  border: 3px solid;
  border-image-source: linear-gradient(143.23deg, #b7b7b7 0%, #8d8d8d 100%);
}
.tiers .tier-button:hover {
  border-image-source: linear-gradient(143.23deg, #8d8d8d 0%, #b7b7b7 100%);
}
.tiers .tier-button:active {
  background: #747474;
  border-image-source: linear-gradient(143.23deg, #8d8d8d 0%, #b7b7b7 100%);
}
.tiers .tier-filter {
  display: flex;
  align-items: center;
}
.tiers .tier-filter .filter-title {
  margin-right: 10px;
}
.tiers .tier-filter .tier {
  display: grid;
  cursor: pointer;
  place-content: center;
  width: 30px;
  height: 30px;
}
.t1 {
  background-color: #00FF28;
  color: #00FF28;
}
.t2 {
  background-color: #7BE900;
  color: #7BE900;
}
.t3 {
  background-color: #A8D000;
  color: #A8D000;
}
.t4 {
  background-color: #C8B600;
  color: #C8B600;
}
.t5 {
  background-color: #E09800;
  color: #E09800;
}
.t6 {
  background-color: #F17700;
  color: #F17700;
}
.t7 {
  background-color: #FB5000;
  color: #FB5000;
}
.t8 {
  background-color: #FF0000;
  color: #FF0000;
}
.tier:hover {
  color: #000;
}
.inactive {
  opacity: 30%;
}
.footer {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid #494747;
}
.footer .footer-container {
  font-family: 'Roboto', sans-serif;
}
.footer .footer-container .link {
  color: #a5bace;
  text-decoration: none;
}
.footer .footer-container .link:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-info {
  list-style-type: none;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px;
  color: #c3b9b6;
}
.footer .footer-container .source-code {
  display: block;
  text-align: center;
  color: #c3b9b6;
  font-size: 12px;
}
.footer .footer-container .source-code .github-logo {
  max-height: 1rem;
  max-width: auto;
  vertical-align: -3px;
}
@media (max-width: 1300px) {
  .main {
    width: 1000px;
  }
  .grid-container {
    padding: 10px;
    gap: 4px;
  }
  .track-list {
    font-size: 22px;
    gap: 2px;
    grid-auto-rows: 50px;
  }
  .track {
    gap: 2px;
  }
  .track.short > .button {
    padding-top: 3px;
  }
  .track > .button {
    padding-top: 7px;
  }
  .track > .difficulty {
    height: 5px;
  }
}
@media (max-width: 1050px) {
  .main {
    width: 950px;
  }
  .grid-container {
    padding: 10px;
    gap: 3px;
  }
  .track-list {
    font-size: 20px;
    gap: 2px;
    grid-auto-rows: 48px;
  }
  .track {
    gap: 2px;
  }
  .track > .button {
    padding-top: 8px;
  }
  .track.short > .button {
    padding-top: 4px;
  }
  .track > .difficulty {
    height: 4px;
  }
}
