// out: ../css/modal.css

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .modal-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 100px auto;
    padding: 0 20px;
    width: 640px;
    border: 2px solid #343434;
    background-color: rgba(0, 0, 0, 0.98);
    border-radius: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .stm-info {
      margin: 10px auto;
      border-bottom: 1px solid #fff;
    }

    .stm-video {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #fff;
    }

    .times {
      width: 640px;
      margin-bottom: 15px;
      font-size: 18px;

      .solo {
        font-size: 20px;
        font-weight: 400;
      }

      .flex-sb {
        display: flex;
        justify-content: space-between;
      }

      .line-tm {
        font-size: 24px;
        font-weight: bold;
        margin-top: 3px;
        margin-bottom: 0px;
      }

      .line {
        margin-bottom: 3px;
      }

      .medal {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
      }

      .regular {
        display: flex;
        align-items: center;

        & > .medal {
          margin-right: 5px;
        }
      }

      .super {
        display: flex;
        align-items: center;

        & > .medal {
          margin-left: 5px;
        }
      }

      .tm {
        background-color: #44EB41;
      }

      .g {
        background-color: #FFF741;
      }

      .s {
        background-color: #E2E2E2;
      }

      .b {
        background-color: #a16d1e;
      }

      .regular, .super {
        display: flex;
      }
    }
  }
}